@font-face {
    font-family: 'Rapscallion';
    src: url('Rapscallion.eot');
    src: url('Rapscallion.eot?#iefix') format('embedded-opentype'),
    url('Rapscallion.woff2') format('woff2'),
    url('Rapscallion.woff') format('woff'),
    url('Rapscallion.ttf') format('truetype'),
    url('Rapscallion.svg#Rapscallion') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0 !important;
    padding: 0 !important;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    overflow:hidden;
}

canvas {
    display:block;
}